nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #131a24;
    display: flex;
    justify-content: space-between;
    height: 75px;
    align-items: center;
}

nav a {
    display: inline-block;
    padding: 0.5rem 1rem;
    text-decoration: none;
    font-size: 1.2rem;
    color: #fff;
    
}


.Logo {
    color: #67cee2;
    font-family: "Space Grotesk Bold", -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 700;
    font-size: 25px;
}


.sideMenue {
    position: fixed;
    top: 75px;
    left: 0;
    width: 200px;
    height: 100%;
    background-color: lightgray;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
}

.visible {
    transform: translateX(0);
  }

.navItems {
    font-family: "Roboto mono";
}

@media (max-width: 640px) {
    nav {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        background-color: #131a24;
        display: flex;
        justify-content: space-between !important;
        height: 75px;
        align-items: center;
    }
    .navItems {
        display: none;
    }
    
    .social {
        display: none;
    }
    .menue {
        color: #fff;
        display: flex;
        justify-content: flex-start;
        font-size: 55px;
        margin: 12px;
    }

    .logo {
        
    }
}